#contato {
}

#contato_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 80vh;
}

#contato_cta {
    font-size: var(--fs-site-XL);
}