#destinos_gallery-app {
    /* width: 800px; */

    border: 2px solid red;

    overflow: hidden;
}

#gallery-app_card-list {
    width: fit-content;
    list-style: none;
    display: flex;
    /* gap: 1rem; */
    /* overflow: hidden; */

    border: 2px solid blue;
}

#gallery-app_card-list li {
/* TEMP */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

    /* height: fit-content; */
    width: calc(0.33 * 90vw );
    max-width: calc(0.33 * 1440px);
    /* width: max-content; */

    border: 2px dotted orange;
}
#gallery-app_card-list li img {
    width: 100%;
}

#gallery-app_navmenu {
    display: flex;
    justify-content: space-around;
    width: 100%;

}