:root {

    /* COLORS */
    /* id visual */
    --clr-id-title-1: #FDF6F9;
    --clr-id-hl-1: #0C8187;
    --clr-id-hl-2: #FDCD55;
    --clr-id-hl-3: #51360F;
    --clr-id-bg-1: #150102;

    /* site */
    --clr-site-text-1: #FDFDFD;
    --clr-site-bg-1: #01132A;

    --fm-site-1: 'Arial';

    --fs-site-XL: 3rem;
    --fs-site-L: 2rem;
    --fs-site-M: 1rem;
    --fs-site-S: 0.75rem;
    --fs-site-XS: 0.5rem;
}

a {
    scroll-behavior: smooth;
}

body {
    /* transition: all 1s; */
    max-width: 100vw;
    width: 100%;

    font-family: var(--fm-site-1);

    color: var(--clr-site-text-1);

    background-color: var(--clr-site-bg-1);

    position: relative;

    scroll-behavior: smooth;
}

main.site-content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;

    /* background-color: black; */

}

main.site-content p {
    text-align: justify;
}

main.site-content div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

main.site-content section:not(#hero) {
    margin: 5rem 1rem;
    color: white;
}

h2 {
    font-size: var(--fs-site-L);
}

p {
    font-size: var(--fs-site-M);
}

.width-default {
    max-width: 1200px;

    width: 100%;  

    margin: 0 auto;
    /* temp */
    /* background-color: red; */
}

.width-large {
    max-width: 1920px;
    width: 100%;
}

@media (max-width: 768px) {
    :root {

        --fs-site-XL: 2.5rem;
        --fs-site-L: 1.9rem;
        --fs-site-M: 1rem;
        --fs-site-S: 0.85rem;
        --fs-site-XS: 0.75rem;

    }

    p{
        font-size: var(--fs-site-M)
    }


    .width-default {
        max-width: 100vw;
        width: auto;
        background-color: purple;
    }

}