* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    /* id visual */
    --clr-id-title-1: #FDF6F9;
    --clr-id-hl-1: #0C8187;
    --clr-id-hl-2: #FDCD55;
    --clr-id-hl-3: #51360F;
    --clr-id-bg-1: #150102;

    /* site */
    --clr-site-text-1: #FDFDFD;
    --clr-site-bg-1: #01132A;

    --fm-site-1: 'Arial';

    --fs-site-XL: 3rem;
    --fs-site-L: 2rem;
    --fs-site-M: 1rem;
    --fs-site-S: 0.75rem;
    --fs-site-XS: 0.5rem;
}


/* GLOBAL ----------------------------- */

body {
    background-color: var(--clr-site-bg-1);
    color: var(--clr-site-text-1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--fs-site-M);

    width: 100vw;
}

a {
    color: var(--clr-site-text-1);
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--fs-site-XL);
    text-align: center;
}

h4 {
    text-transform: capitalize;
}

.default-max-width {
    max-width: 1920px;
}

/* NAV -------------------------------- */

